/*----------------*/
/* Scrolling Content */
/*----------------*/
body {
    @extend %flex-column;
    max-height: 100vh;
}

.content {
    display: flex;
    // subtract height of header
    height: calc(100vh - 7.6rem);
}

.js-view {
    overflow: scroll;
}