html {
    font-size: 62.5%;
}

body {
    font-size: $font-size;
}




h1 {
    font-size: $font-size-h1;
}



.sidebar {
    width: 28rem;
    background-color: #eee;
    
    li {
        cursor: pointer;
    }
    
    .active {
        background-color: #ccc;
    }
}



.kanji-grades {
    display: flex;
    flex-direction: column;
}


// currently all icons are spans
// for the time being to make them look clickable, change pointer
span {
    cursor: pointer;
}


.disabled {
    color: #999;
}