/*-----------------*/
/*    General    */
/*-----------------*/
html {
    font-size: 62.5%;
}

body {
    font-size: $font-size;
    color: $alt;
}

h1 {
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
    margin: 0 auto;
    padding-bottom: 1rem;
    color: #000;
    text-align: center;
}

h3 {
    font-size: $font-size-h3;
}

h4 {
    text-align: center;
}

input {
    width: 15rem;
    font-size: 2rem;
}

button {
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: $color;
}

.textIndent {
    display: inline-flex;
    text-indent: -9999px;
}

.disabled {
    color: #999;
}

.row {
    display: flex;
    align-items: center;
}


.js-view {
    width: calc(100%);
    margin-top: 2rem;
    @extend %flex-column;
}

// hide right content on small screens when sidebar is expanded
.sm-hidden {
    @include mq(small) {
        display: none;
    }
}

/* Button that hides .kanji-info, congrats page */
.close-btn {
    align-self: flex-end;
}

/*-----------------*/
/*    Sidebar    */
/*-----------------*/
.sidebar {
    display: flex;
    flex-direction: column;
    min-width: 28rem;
    margin-right: 2rem;
    color: $alt;
    background-color: $color2;
    font-size: $font-size-links;
    
    li {
        cursor: pointer;
    }
    
    .active {
        color: $alt2;
        background-color: $color;
    }
}
/* declare at end, otherwise gets ignored */
.hidden {
    display: none;
}

/*-----------------*/
/*   High Scores  */
/*-----------------*/
.highscores > div {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
    padding: 2.75rem 1rem;
    &:nth-child(odd) {
        background-color: $color2;
    }
}


/*-----------------*/
/*  Kanji Overview */
/*-----------------*/
/* What user first sees */
.kanji-grades {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        
        &:nth-child(odd) {
            background-color: $color2;
        }
    }
    
}

/* What user sees after clicking View */
.kanji-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* .row is used here */
}

/* The actual kanji, kunyomi, onyomi, and meaning container */
.view-kanji {
    margin: 2rem;
    // remove width constraint on small screens
    @include mq(small) {
        width: auto;
    }
    @include mq(medium) {
        width: 25rem;
    }
    width: 32rem;
    
    h3 {
        text-align: center;
        font-size: $kanji;
    }
}

/*-----------------*/
/*   Review Game  */
/*-----------------*/
.review-form {
    @extend %flex-column;
    align-items: center;
    align-self: center;
    width: 70rem;
    div {
        margin: 1rem 1rem;
    }
    label {
        margin-right: 1rem;
    }
    
    @include mq(sm-up) {
        width: calc(90%);
        .row {
            flex-direction: column;
        }
        div {
            display: flex;
            align-items: center;
        }
    }
    @include mq(small) {
        div {
            display: flex;
            flex-direction: column;
        }
    }
}

.game-form {
    align-self: center;
    h3 {
        text-align: center;
        font-size: $kanji;
    }
    .row {
        justify-content: center;
    }
    label {
        margin-right: 1rem;
    }
    @include mq(sm-up) {
        width: calc(90%);
        .row {
            flex-direction: column;
        }
    }
}

#game-results {
    align-self: center;
    @extend %flex-column;
    align-items: center;
    font-size: $font-size-h3;
    h3, p:not(:last-child) {
        font-size: $font-size-h1;
    }
    p:last-child {
        text-align: center;
    }
}

/*-----------------*/
/*   Kanji Search  */
/*-----------------*/
.kanji-search, .search-result {
    @extend %flex-column;
    align-items: center;
    margin-top: 1rem;
}

// Experimenting
.fa-spinner {
    width: 1.8rem;
    height: 1.8rem;
    align-self: center;
    cursor: auto;
    animation: spin 10s linear infinite;
    animation-play-state: paused;
}

.active-spinner {
    display: flex;
    animation-play-state: running;
}

@keyframes spin {
  0% { transform: rotate(0turn); }
  100% { transform: rotate(1turn); }
}
